@keyframes slideOutLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.slide-out-left {
    animation: slideOutLeft 1s forwards;
}
.footer-font{
    color: goldenrod !important;
}
